html, body {

    --background-color: #232222;
    --text-color: white;
    --hover-color: orange;
    --panel-color:#242f40;
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 3em;;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

strong {
    font-weight: bold;
  }

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hidden {
    visibility: hidden;
}

.player-header, .computer-header {
    display: flex;
    justify-content: space-between;

}

.player-header h2, .computer-header h2 {
    padding-left: 10px;
    
}




.score-container {
    text-align: center;
    padding-right: 10px;
    padding-top: 5px;
}

.computer-score, .player-score {
    text-align: center;
    
    color: var(--hover-color);
}

.result-container {
    display: flex;
    justify-content: center;
}

.result-container p {
    font-size: 2em;
    margin: auto 5px auto 0;
}

.players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 400px) {
    .players {
        flex-direction: column;
    }
    
}






.player-container, .computer-container {
    border: 1px solid var(--text-color);
    background: var(--panel-color);
    margin: 10px;
    border-radius: 5px;
    
}



.computer-buttons button {
    pointer-events: none;
}

.score {
    text-align: center;
}

.player-buttons, .computer-buttons {
    display: flex;
    justify-content: center;
}





.button {
    min-width: 70px;
    height: 70px;
    margin: 10px;
    color: var(--text-color);
    background: var(--background-color); 
    border: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.button img {
    height: 40px;
}


.clickable-button:hover{
    border-color: var(--hover-color);
    box-shadow: 0 1px 5px 0 var(--hover-color);
    cursor: pointer;
}

.active-button{
    border-color: var(--hover-color);
    border-width: 2px;
}

.play-again-button {
    min-width: 100px;
    height: 50px;
}

.play-again-button p {
    font-size: 1.5em;
    text-align: center;
}

.round-log {
    margin: 10px;
}





